.TextBox{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #0b1014;
    justify-content: center;
    align-items: center;
    text-align: center;
}