#image-container{
    width: 20rem;
    height: auto;
}

#personal-image{
    width: 100%;
    height:125%;
    border-radius: 50%;
}


#description{
    width: 100%;
}

#name{
    max-width:10%;
    font-size: 2rem;
    color: white;
}

#city{
    font-size: 100%;
    color: rgba(255, 255, 255, 0.685);
}

#english{
    max-width: 100%;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
}

