#image-container{
    width: 20rem;
    height: auto;
}

#personal-image{
    width: 120%;
    height: 120%;
    border-radius: 30px;
}


#description{
    width: 309rem;
}

#name{
    max-width: 25rem;
    font-size: 2rem;
    color: white;
}

#city{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
}

#english{
    max-width: 360px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
}