.NavLink{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #9251b1;
}
.NavLink:hover {
    color: #bb63ee; 
    text-decoration: underline;
  }